body {
  background-color: black;
}

h3 {
  margin: 10px;
  text-align: center;
  padding: 30px;
}

#weka {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: solid 10px rgb(85, 174, 247);
  border-radius: 50%;
}

.modify-button {
  text-align: center;
  margin: 10px 0;
}
